@font-face {
    font-family: "elms_sans";
    src: url("../fonts/ElmsSans-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.nav ul {
    list-style: none;         /* quita los puntos de lista */
    padding: 0;
    margin: 0;

    display: flex;            /* activa flexbox */
    justify-content: center;  /* centra los botones horizontalmente */
    align-items: center;      /* los alinea verticalmente */
    gap: 30px;   
    font-family: "elms_sans"             /* espacio entre los botones */
}

.nav ul li a {
    text-decoration: none;    /* sin subrayado */
    color: #333;              /* color del texto */
    font-size: 20px;          /* tamaño de fuente */
    font-weight: bold;
    transition: color 0.3s ease;
    font-family: "elms_sans" 
}

.nav ul li a:hover {
    color: #007bff;           /* color al pasar el mouse */
}

#contact{
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    font-family: "elms_sans" 
}

#telefonos p {
    font-size: 24px;
     font-weight: bold;
    text-align: justify;
    padding-bottom: 59px;
}

.footer p {
    text-align: center;
    font-size: 30px;
    color: #666;
    font-family: "elms_sans" 
    
}

