.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-contenido {
  max-width: 80%;
  max-height: 70%;
  border-radius: 10px;
}

.cerrar {
  color: white;
  font-size: 40px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 40px;
}

.producto-card {
  padding: 10px;
  margin: 10px;
  width: 200px;
  border-radius: 8px;
  background: #eee;
  text-align: center;
  cursor: pointer; /* importante */
}
